.Contact {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.Contact > div {
  background: linear-gradient(to bottom, #d5c690, #c7b36b);
  color: #2a396f;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: min(20rem, 80vw);
}

.Contact > div > div:first-child {
  width: 20%;
}

.Contact a {
  color: #465fb9;
}

.Contact span {
  color: #4a401c;
}
