---
import Layout from "../layouts/layout.astro";
import Index from "../react/pages/Index/Index.tsx";
---

<Layout>
  <meta
    name="description"
    content="Andrew Burnie The UI Noodler delivers User Interfaces that transform the value of companies whether you are looking 
      for advice on UI / UX Design, Frontend Engineering or a Fullstack service. Use this website to get contact details, examples of past projects and details on services offered"
    slot="head"
  />
  <title slot="head">Andrew Burnie The UI Noodler</title>
  <meta
    slot="head"
    name="google-site-verification"
    content="dZaWf8U7xL8E4A_hy66sky9ILw80mjWLJ7W6HjM3028"
  />

  <Index />
</Layout>
