---
import Layout from "../layouts/layout.astro";
import PastProjects from "../react/pages/PastProjects/PastProjects.tsx";
import Header from "../react/components/Header/Header.tsx";
---

<Layout>
  <meta
    name="description"
    content="Examples of Past Projects delivered by Andrew Burnie the UI Noodler"
    slot="head"
  />
  <title slot="head">The UI Noodler Past Projects</title>
  <Header currentPage="Past Projects" />
  <PastProjects />
</Layout>
