@keyframes spinClockwise {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinAntiClockwise {
  100% {
    transform: rotate(-360deg);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.currentPage {
  width: 15rem;
  display: flex;
  background-image: linear-gradient(to bottom, #d4ab91, #c68f6c);
  border-radius: 50px;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.2rem;
}

.currentPage h1 {
  font-size: 1rem;
  color: #000b33;
  flex-grow: 1;
  text-align: left;
}

.cogLarge {
  height: 3rem;
}

.cogSmall {
  height: 1.5rem;
}

.clockwise {
  animation: spinClockwise 10s linear infinite;
}

.anticlockwise {
  animation: spinAntiClockwise 10s linear infinite;
}

.shrink a {
  height: 2rem;
  width: 10rem;
}
