@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  background-color: #ced4ba;
  font-family: "Ubuntu", sans-serif;
  color: #2f1b33;
}

.info {
  @apply bg-gray-50 w-screen md:w-3/5 lg:w-2/5 mx-auto text-center p-5 h-[70vh]  md:rounded-lg flex flex-col justify-around;
}

.infoCell {
  @apply text-blue-700 hover:text-gray-900;
}
