---
import GeneralLayout from "./General.astro";
import Header from "../react/components/Header/Header.tsx";

export interface Props {
  pagename: string;
}

const { pagename } = Astro.props;
---

<GeneralLayout title="Andrew Burnie UI Engineer">
  <Header currentPage={pagename} />
  <main>
    <slot />
  </main>
</GeneralLayout>
