.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 2rem;
  width: min(60rem, 100%);
  margin: auto;
}

.container > div {
  width: min(25rem, 100vw);
  margin: 1rem;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
}

.container h2 {
  font-size: 1rem;
  text-align: center;
  border-bottom: solid 1px;
}

.container p {
  margin: 0.5rem;
}

div.note {
  background: linear-gradient(to bottom, #d5c690, #c7b36b);
  padding: 0.5rem;
  border-radius: 20px;
  width: min(30rem, 100vw);
  flex-grow: 1;
}

.note p,
.note a {
  color: #2a396f;
  font-size: 1.2rem;
}
